footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  gap: 5px;
}

.key-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.key-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 63px;
  border-radius: 4px;
  background-color: var(--main-color);
  font-weight: bold;
}

.key-block[data-index="13"] {
  width: 70px;
}

.key-block[data-index="8"] {
  width: 70px;
}

.key-block[data-index="8"] img {
  width: 40px;
  height: 30px;
}
