header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: var(--text-color);
}

.header-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40px;
}

.header-icons img {
  width: 30px;
  height: 30px;
}
