header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid gray;
  padding: 10px;
  margin-bottom: 5px;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.header-menu {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 108px;
}
.header-menu img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icons img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0 3px 0 3px;
}
