#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: inherit;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  visibility: hidden;
  z-index: 150;
}

#loading-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: var(--main-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
